---
import Section from "../Section.astro";
import { skills } from "@cv";
---

<Section className={Astro.props.className} title="Skills">
  <ul class="flex flex-col gap-6">
    {
      skills.map(({ name, keywords }) => {
        return (
          <li>
            <h3 class="font-mono font-bold text-lg mb-2 text-skin-base">{name}</h3>
             <div class="flex flex-wrap gap-2">
                {keywords.map((key) => (
                    <span class="rounded-md bg-skin-button-muted px-2 py-1 text-sm font-mono text-skin-muted ring-1 ring-skin-muted/50 hover:text-skin-accent hover:ring-skin-accent transition-all cursor-default">
                        {key}
                    </span>
                ))}
             </div>
          </li>
        );
      })
    }
  </ul>
</Section>
