---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/sections/Hero.astro";
import Experience from "@/components/sections/Experience.astro";
import Education from "@/components/sections/Education.astro";
import Projects from "@/components/sections/Projects.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";

import { basics } from "@cv";
const { name, label } = basics;
---

<Layout title={`${name} - ${label}`}>
  <main class="relative grid min-h-screen gap-12 p-8 max-w-7xl mx-auto md:p-12 lg:p-16 sm:gap-12">
    
    <Hero>
        {/* Right Column Content */}
        
        <div class="flex flex-col gap-4">
            <h2 class="text-2xl font-mono font-bold text-skin-base flex items-center gap-2 mb-4">
                <span class="text-skin-accent">/</span>Projects
            </h2>
            <Projects />
        </div>

        <div class="flex flex-col gap-4">
            <h2 class="text-2xl font-mono font-bold text-skin-base flex items-center gap-2 mb-4">
                <span class="text-skin-accent">/</span>Experience
            </h2>
            <Experience />
        </div>

        <div class="flex flex-col gap-4">
            <h2 class="text-2xl font-mono font-bold text-skin-base flex items-center gap-2 mb-4">
                <span class="text-skin-accent">/</span>Education
            </h2>
            <Education />
        </div>
    </Hero>

  </main>
  <KeyboardManager />
</Layout>
